.selector-for-some-widget {
    box-sizing: content-box;
  }
.title {
    text-align: center;
    font-size: 25px;                                                                                       
    width: 100%;
    font-weight: bolder;
    font-family: cursive;
    display: inline-block;
    margin: auto;

}
.header{
padding: 10rem;
text-align: center;
font-size: 25px;
background-size: 10rem;
padding: 0rem;
display: block;
font-family: cursive;
}
#banana{
    padding: 10rem;
    text-align: center;
    font-size: 3rem;
    background-size: 10rem;
    padding: 0rem;
    display: block;
    font-family: cursive;
    font-weight: bolder;
    padding-bottom: 3rem;
    padding-top: 1rem;

}

p > .title {

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.column {

    width: 100%; 
    height: 10000px;
    align-content: center;
    display: inline-block;
    font-weight:normal;
    padding: 10px;
    background-color: gray;
    margin: 4px;
    font-family: cursive;
    box-sizing: border-box;
    text-decoration-color: black;
}

.navbar {

background-color: gray;
border-bottom: solid black thick;
font-weight: bolder;
color: black;
font-size: 20px ;
} 

.navbar-brand {
    font-size: 3rem;
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    color: black;

}


/* I need to make this use the grid system to responsively change based on screen size */
@media all and (max-width: 1300px) {
    .column {
      width: 100%;
      
    }

@media all and (min-width: 700px) {
    #first {
        width: 100%;
        align-content: center;

    }

    }
}
@media all and (max-width: 830px) {
    .column {
        width: 100%;
        display:flexbox;
}
}
